.shiftLeft
{
	float:left;
}
.shiftRight
{
	float:right;
}
.paddZero
{
	padding:0px !important;
}
.marginZero
{
	margin:0px !important;
}
.noBorder
{
	border: 0px !important;
}
.spaces5
{
	margin-top:5px;
}
.spaces10
{
	margin-top:10px;
}
.spaces15
{
	margin-top:15px;
}
.spaces20
{
	margin-top:20px;
}
.bottom5
{
	margin-bottom:5px;
}
.bottom10
{
	margin-bottom:10px;
}
.bottom15
{
	margin-bottom:15px;
}
.bottom20
{
	margin-bottom:20px;
}
.left0
{
	margin-left: 0px !important;
}
.left5
{
	margin-left: 5px;
}
.left10
{
	margin-left: 10px;
}
.right0
{
	margin-right: 0px !important;
}
.right5
{
	margin-right: 5px;
}
.right10
{
	margin-right: 10px;
}
.clear
{
	clear:both;
}
.containerMinHeight
{
	min-height: 455px !important;
}
.sliderImg
{
	width: 1250px !important;
	height:300px !important;
}
.carousel-control.left, .carousel-control.right
{
	background-image: none !important;
}
.sliderContentStyle
{
    color: #E48E27 !important;
    font-size: 23px !important;
}
.sliderHeadContentStyle
{
    color: #E48E27 !important;
    font-size: 25px !important;
    font-weight: bold !important;
}
.bookImageStyle
{
	width: 250px;
}
.bookHeadContentStyle
{
    color: #E48E27 !important;
    font-size: 16px !important;
    font-weight: bold !important;
}
.bookContentStyle
{
    color: #E48E27 !important;
    font-size: 16px !important;
}
.table>tbody>tr.tableHead>th
{
	background-color: rgba(60, 92, 119, 0.65) !important;
}
.table>tbody>tr.tableContent>td
{
	background-color: rgba(60, 92, 119, 0.55) !important;
}
.iconStyle
{
	width:20px;
	height:20px;
}
.btn-primary 
{
    color: #FFFFFF !important;
    background-color: #CF9018 !important;
    border-color: #CF9018 !important;
    vertical-align: middle !important;
    border-radius: 6px !important;
    width: auto !important;
}
.formButtonTop
{
	margin-top:20px;
}
.formTitle
{
	color: #E48E27 !important;
    font-size: 16px;
}